@{
    ViewData["Title"] = "About";
}

<!-- container start -->

<div class="container text-white">

    <!-- about start -->

    <h1 class="text-white">@ViewData["Title"]</h1>

    <p class="col-md-8">
        This ASP.NET Core MVC Web Application is made with .NET 5, Bootstrap 5.1 and some custom css.
        It uses the APOD (Astronaut Picture of the Day) API from NASA to display a new image every day.
    </p>
    <p class="col-md-8">
        For more information about the API, visit <a href="https://api.nasa.gov/" target="_blank" class="text-decoration-none">NASA</a>
        to get your own API key and try out their different API:s.
    </p>

    <!-- about end -->

    <!-- special thanks start -->

    <h4>Special thanks</h4>

    Background image by <a href="https://pixabay.com/sv/users/comfreak-51581/?utm_source=link-attribution&amp;
            utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1784245" target="_blank" class="text-decoration-none">Comfreak</a>
    from <a href="https://pixabay.com/sv/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1784245"
            target="_blank" class="text-decoration-none">Pixabay</a>.

    <!-- special thanks end -->

</div>

<!-- container end -->